<aside class="hidden lg:block lg:col-span-2 bg-white shadow">
  <nav class="space-y-1">
    <a
      href="#"
      class="group flex items-center px-3 py-2 text-sm font-medium text-gray-600 hover:text-gray-900 hover:bg-gray-50"
    >
      <span class="truncate">Início</span>
    </a>
    <a
      href="#"
      class="group flex items-center px-3 py-2 text-sm font-medium text-gray-600 hover:text-gray-900 hover:bg-gray-50"
    >
      <span class="truncate">Perfil</span>
    </a>
    <a
      href="#"
      class="group flex items-center px-3 py-2 text-sm font-medium text-gray-600 hover:text-gray-900 hover:bg-gray-50"
    >
      <span class="truncate">Configurações</span>
    </a>
  </nav>
</aside>
