<div class="flex flex-col lg:flex-row">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 text-center"
    >
      <div>
        <h3 class="text-2xl font-bold text-pink-600">1. Escolha</h3>
        <p class="text-gray-600">Escolha um helpinho que deseja ajudar</p>
      </div>
      <div>
        <h3 class="text-2xl font-bold text-pink-600">2. Doe</h3>
        <p class="text-gray-600">
          O valor é você quem decide, e ele vai todo para quem escolher
        </p>
      </div>
      <div>
        <h3 class="text-2xl font-bold text-pink-600">3. Aproveite</h3>
        <p class="text-gray-600">
          Doar gera felicidade para você e para quem recebeu
        </p>
      </div>
      <div>
        <h3 class="text-2xl font-bold text-pink-600">4. Acompanhe</h3>
        <p class="text-gray-600">
          Fique ligado, acompanhe se o helpinho alcançou o objetivo
        </p>
      </div>
    </div>
  </div>
</div>
