<div
  class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-24 lg:px-8"
  [formGroup]="parentForm"
>
  <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl">
    Falta pouco...
  </h2>
  <p class="mt-4 text-lg text-gray-500">
    Revise seu helpinho, veja se está como você gostaria e então publique.
  </p>
  <div class="mt-8 border border-pink-200 bg-pink-50 p-8 rounded-lg">
    <div class="text-center text-pink-600">Pré-visualização do helpinho</div>
    <div class="mt-4">
      <p><strong>Categoria:</strong> {{ parentForm.get("category")?.value }}</p>
      <p><strong>Título:</strong> {{ parentForm.get("title")?.value }}</p>
      <p>
        <strong>Descrição:</strong> {{ parentForm.get("description")?.value }}
      </p>
      <p><strong>Meta:</strong> {{ parentForm.get("goal")?.value }}</p>
      <p><strong>Imagem:</strong></p>
      <img
        *ngIf="parentForm.get('image')?.value"
        [src]="imageUrl"
        alt="Selected Image"
        class="mx-auto h-30 w-30 object-cover rounded-md"
      />
    </div>
  </div>
  <div class="mt-8 flex justify-between">
    <button
      class="bg-gray-200 text-gray-700 px-6 py-3 rounded-md shadow-sm hover:bg-gray-300"
      (click)="onPrev()"
    >
      Voltar
    </button>
    <button
      class="bg-pink-600 text-white px-6 py-3 rounded-md shadow-sm hover:bg-pink-700"
      (click)="onSubmit()"
      [disabled]="parentForm.invalid"
    >
      Publicar helpinho
    </button>
  </div>
</div>
